.custom-button {
    background-color: #f77d37;
    color: #f4f4f4;
    padding: 5px 13px;
    border-width: 0;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-image: linear-gradient(to bottom right, #e787aa, #ed9d3d);
  }
  
.custom-button:hover {
  background-color: #ff8c4a;
}

.poppins-bold {
    color: #e39494;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}

p {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

.list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 30px;
    padding: 16px;
}

.dividers {
    display: flex;
    justify-content: space-between;
}

.divider-start {
    width: 25%;
    height: 10px;
    background-image: linear-gradient(to bottom right, #e787aa, #ed9d3d);
}

.divider-end {
    width: 15%;
    height: 10px;
    background-image: linear-gradient(to bottom right, #e787aa, #ed9d3d);    
}

h4 {
    margin: 10px 0;
}